<h1>Create new species</h1>

<form action="/species" method="post">
  <label for="new_species">New species</label>
  <input id='new_species' name="species[name]" type="text">
  <button>Create new species</button>
</form>
